- # vim: set ts=2 sw=2 et:
-# @page.js << "/js/extern/jquery.cookie.js"
-# @page.js << "/js/page/index.js"

%div(data-fullscreen="true" data-role="page" class="ui-page poietic-page-#{@page.title}")
  %div(data-role="header" data-position="fixed" )
    %h1 Poietic Generator
  %div(role="main" data-role="content" class="ui-content")
    #index-menu
      %img(src="/poietic-generator.net.gif")/
      //  Join a session
    %ul(data-role="listview" data-inset="true" class="ui-listview")
      %li
        %a(href="/group/join" data-ajax="false") 
          Play
      %li
        %a(href="/session/list" data-ajax="false") 
          View
  %div(data-role="footer"  data-position="fixed")
    #credits
      %p
        Copyleft - 2011-2014 - 
        %a(href="http://www.gnuside.com" target="_blank") GNUSIDE
        %br
        %a(href="http://poietic-generator.net/" target="_blank") Original concept
        by Olivier Auber
        %br
        //Version
        //%a(href="https://github.com/Gnuside/poietic-generator/releases/tag/#{PoieticGen::VERSION}-#{PoieticGen::VERSION_NAME.downcase.gsub(/\s+/,'_')}" target="_blank") #{PoieticGen::VERSION} - #{PoieticGen::VERSION_NAME}
    .spacer
