- # vim: set ts=2 sw=2 et:

%div(data-fullscreen="true" data-role="page" class="ui-page poietic-page-#{@page.title}")
  %div(data-role="header" data-id="head")
    %h1.username Choose session
    %a.ui-btn-left.logout(href="/" data-rel="back") Back
  %div(role="main" class="ui-content") 
    %ul(data-role="listview" class="ui-listview")
      - @group_list.each do |group|
        %li(data-role="list-divider")
          = group.canonical_name
        - group.boards.all(order: [:timestamp.desc]).each do |board|
          :ruby
            is_live = (board.end_timestamp <= 0)
            is_solo = (board.total_users_count == 1)
            duration = Duration.new(
              Time.at(board.end_timestamp) - Time.at(board.timestamp)
            )
            is_short = duration.to_i < 500
            # hide past solo short session
            if not is_live and is_solo and is_short
              next
            end
          %li
            %a(data-ajax="false" href="/session/#{board.token}/view") 
              %h2
                /= "Started on %s " % Time.at(board.timestamp).utc.strftime('%F %T')
                = "Started on %s " % Time.at(board.timestamp).utc.strftime("%B %d, %Y at %H:%M")
                - if is_live
                  :ruby
                    duration = Duration.new(
                      Time.at(board.end_timestamp) - Time.at(board.timestamp)
                    )
                    duration_str = 
                      if duration.to_i > 24 * 60 * 60 # days and hours
                        duration.format("%d %~d and %h %~h")
                      elsif duration.to_i > 60 * 60 # hours and minutes
                        duration.format("%h %~h and %m %~m")
                      elsif duration.to_i > 60  # minutes and seconds
                        duration.format("%m %~m and %s %~s")
                      else # seconds only
                        duration.format("%s %~s")
                      end
                - else
                  = "and is live !"
              %p
                - if board.end_timestamp > 0
                  = "Lasted %s " % duration_str
                - else
                  = "Live "
                = "with %d users" % board.total_users_count


